
.topnav {
    font-family: Handwriting-Regular;
    overflow: hidden;
    display: flex;

  }
  .topnav a {
    float: left;
    color: hsl(0, 0%, 100%);
    text-align: left;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    text-decoration: none;
    font-size: 45px;
  }

  .topnav a:hover {
    color: orange;
    text-decoration: dashed;
  }
  

@font-face {
    font-family: Handwriting-Regular;
    src: url(Handwriting-Regular.ttf);
}

.bodystyle{
    font-family: Handwriting-Regular;
    background-color: black;
    
}

.textstyle{
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  color: #ffffff;
  font-size: 50px;
}


.contactstyle{
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  color: #ffffff;
  font-size: 50px;
  text-decoration: dotted;
  &:hover{
    color: orange;
    cursor: pointer;
  }
}



.headerstyle{
  margin-top: 50px;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  color: orange;
  font-size: 75px;

}


.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 50px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.flex-container {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}

.cell{
  border-radius: 10px;
  width: 300px;
  height: 300px;
  margin: 20px;
  object-position: top;
  object-fit: cover;
  line-height: 75px;
  font-size: 30px;
  &:hover {
    opacity: 0.7;
  }

}


.format1{
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  width: 50%;

}


.format2{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 400px;
  margin-right: 100px;
  width: 50%;

}

.format3{
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 400px;
  margin-right: 100px;
  width: 50%;

}

